<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>YaminServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ParticipantServlet</display-name>
    <servlet-name>ParticipantServlet</servlet-name>
    <servlet-class>servlet.ParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantServlet</servlet-name>
    <url-pattern>/ParticipantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchServlet</display-name>
    <servlet-name>BatchServlet</servlet-name>
    <servlet-class>servlet.BatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchServlet</servlet-name>
    <url-pattern>/BatchServlet</url-pattern>
    <url-pattern>/Batch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddParticipant</display-name>
    <servlet-name>UpdateAddParticipant</servlet-name>
    <servlet-class>servlet.UpdateAddParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddParticipant</servlet-name>
    <url-pattern>/UpdateAddParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnrollmentServlet</display-name>
    <servlet-name>EnrollmentServlet</servlet-name>
    <servlet-class>servlet.EnrollmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollmentServlet</servlet-name>
    <url-pattern>/EnrollmentServlet</url-pattern>
    <url-pattern>/Enrollment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddEnrollment</display-name>
    <servlet-name>UpdateAddEnrollment</servlet-name>
    <servlet-class>servlet.UpdateAddEnrollment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddEnrollment</servlet-name>
    <url-pattern>/UpdateAddEnrollment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddBatch</display-name>
    <servlet-name>UpdateAddBatch</servlet-name>
    <servlet-class>servlet.UpdateAddBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddBatch</servlet-name>
    <url-pattern>/UpdateAddBatch</url-pattern>
  </servlet-mapping>
</web-app>